{% extends 'content_base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
{% endblock %}

{% block title %}Manage Users{% endblock %}

{% block content_body %}
    <div class="row">
        <div class="col-sm-12">
            <h1>Manage Users ({{ pagination.getTotalItemCount }})</h1>
            {{ form_start(formSearch) }}
            <div class="input-group mb-3 pull-right">
                {{ form_row(formSearch.author, {
                    label: false,
                    class: 'form-control'
                }) }}
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-secondary">
                        <span class="fa fa-search"></span>
                    </button>
                </div>
            </div>
            {{ form_end(formSearch) }}

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Email</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in pagination %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.status|trans({}, 'user_status') }}</td>
                        <td>
                            {% if user.status == 1 or user.isAdmin %}
                                <span class="fa fa-2x fa-address-card-o"></span>
                            {% elseif user.status == 2 %}
                                <a href="{{ path('admin_user_block', {id: user.id, page:app.request.get('page')}) }}">Block</a>
                            {% elseif user.status == 3%}
                                <a href="{{ path('admin_user_activate', {id: user.id, page:app.request.get('page')}) }}">Activate</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div>
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}