{#
{{ form_start(articleForm) }}
    {{ form_row(articleForm.title, {
        label: 'Title'
    }) }}

    {{ form_row(articleForm.content, {
        label: 'Text'
    }) }}

    {% if articleForm.publishedAt is defined %}
        {{ form_row(articleForm.publishedAt) }}
    {% endif %}

    <button type="submit" class="btn btn-primary">{{ button_text }}</button>
{{ form_end(articleForm) }}#}
{{ form_start(articleForm) }}
  {{ form_widget(articleForm) }}
  <button type="submit" class="btn btn-md btn-outline-primary">{{ button_text }}</button>
{{ form_end(articleForm) }}