{{ form_start(articleForm, {
    'method':'POST'
}) }}

{{ form_row(articleForm.title) }}

{{ form_row(articleForm.content) }}

{{ form_row(articleForm.tags) }}

<div class="mt-3 mb-4">
    <button type="submit" class=" btn btn-md btn-outline-primary">{{ button_text }}</button>
</div>
{{ form_end(articleForm) }}