{% extends 'base.html.twig' %}

{% block title %}Read Post{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12 mt-3">
            <h3>{{ post.title }} #{{ post.id }}</h3>

            {% include 'parts/tags.html.twig' with {'tags': post.tags} %}

            <p class="mt-3">{{ post.content }}</p>
            <p>Author: {{ post.user.name }} {{ post.user.lastName }}</p>
        </div>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="col-md-12">
            {{ form_start(voteForm) }}
            {{ form_widget(voteForm) }}
            {{ form_end(voteForm) }}

            <div class="js-vote-pane" data-userVote="{{ userVote }}">
                <a class="vote btn" data-vote="1">
                    <i class="fa fa-thumbs-o-up"></i>
                </a>
                <span class="badge badge-warning">{{ post.countVotes }}</span>
                <a class="vote btn" data-vote="0">
                    <i class="fa fa-thumbs-o-down"></i>
                </a>
            </div>
            {% else %}

            <div class="col-md-12">Rating: <span class="badge badge-warning">{{ countVotes }}</span></div>

            {% endif %}
        </div>
        <div class="col-md-12 border-top mt-4">
            <h3 class="mt-4">Comments</h3>
            {% for comment in post.comments %}
                <div class="mt-1">
                    <em>Author: {{ comment.user.name }}</em>
                    <p>{{ comment.text }}</p>
                </div>
            {% endfor %}
        </div>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="col-md-12 mt-3">
                {{ form_start(commentForm, {
                    'method': 'POST'}) }}

                {{ form_row(commentForm.comment) }}

                <div class="mt-3 mb-4">
                    <button type="submit" class=" btn btn-md btn-outline-primary">Comment</button>
                </div>
                {{ form_end(commentForm) }}
            </div>
        {% endif %}
    </div>
{% endblock %}
