{% extends 'content_base.html.twig' %}

{% block title %}Manage Posts{% endblock %}

{% block content_body %}
    <div class="row" id="admin-publications-dashboard">
        <div class="col-sm-12">
            <div>
                {#Filters#}
                <form class="form-inline" method="post">
                    {% set current_status = app.request.request.get("status") %}
                    <select class="form-control" name="status">
                        <option></option>
                        {% for status in statuses %}
                            <option {% if current_status == status %}selected{% endif %}
                                    value="{{ status }}">{{ status }}</option>
                        {% endfor %}
                    </select>
                    {% set current_dateFrom = app.request.request.get("dateFrom") %}
                    <div class="input-group datepicker" data-provide="datepicker">
                        <input type="text" value="{{ current_dateFrom }}" class="form-control datepicker-dropdown"
                               placeholder="Date from" name="dateFrom">
                    </div>
                    {% set current_dateTo = app.request.request.get("dateTo") %}
                    <div class="input-group datepicker" data-provide="datepicker">
                        <input type="text" value="{{ current_dateTo }}" class="form-control" placeholder="Date To"
                               name="dateTo">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Article</th>
                    <th>Author</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for publication in postsPaginator %}
                    <tr>
                        <td>
                            {{ publication.updatedAt | date('Y-m-d') }}
                        </td>
                        <td>
                            {{ publication.title }}
                        </td>
                        <td>
                            {{ publication.user.name }} {{ publication.user.lastName }}
                        </td>
                        <td>
                            {{ publication.status|trans({}, 'post_status') }}
                        </td>
                        <td style="width: 20%;">
                            <a class="btn btn-sm btn-outline-success" href="{{ path('admin_publication_edit', {id: publication.id}) }}">Edit</a>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4" class="text-center">
                            No publications found
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {{ knp_pagination_render(postsPaginator) }}
        </div>
    </div>
{% endblock %}
